<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>Around The Block</title>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
   <!-- <link rel="stylesheet" href="css/simple-line-icons.css"> -->
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
    <!-- Themify Icon -->
    <!-- <link rel="stylesheet" href="css/themify-icons.css"> -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Hover Effects -->
    <!-- <link rel="stylesheet" href="css/set1.css"> -->
    <link rel="stylesheet" href="{% static 'css/set1.css' %}">
    <!-- Main CSS -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<head>

<script
src="https://unpkg.com/blockstack@19.3.0-beta.1/dist/blockstack.js"
integrity="sha384-kscoAgc5pZqovHWSKndfyn3OeKHfRSh+Xc5wYc+E02BuyQV2zwEEHJ7p5drKnRrX"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script> 
window.addEventListener('DOMContentLoaded', (event) => {
 const appConfig = new blockstack.AppConfig(['store_write','publish_data', 'email'])
 const userSession = new blockstack.UserSession({ appConfig: appConfig })
document.getElementById('signin-button').addEventListener('click', function(event) {
    event.preventDefault()
    userSession.redirectToSignIn()
 })
document.getElementById('signout-button').addEventListener('click', function(event) {
    event.preventDefault()
    userSession.signUserOut()
    window.location=window.location.origin
 })
  function saveProfileToCookie(profile) {
    let userInfo = blockstack.decodeToken(blockstack.loadUserData().authResponseToken)
    let email = userInfo.payload.email
    let username = userInfo.payload.username
    Cookies.set('email',email)
    Cookies.set('username', username)
    
}


  function showProfile (profile) {
    let person = new blockstack.Person(profile)
    document.getElementById('heading-name').innerHTML = person.name() ? person.name() : "You are logged in!" 
  //  if(person.avatarUrl()) {
    //  document.getElementById('avatar-image').setAttribute('src', person.avatarUrl())
    //}
    //document.getElementById('section-1').style.display = 'none'
    //document.getElementById('section-2').style.display = 'block'
  }

  if (userSession.isUserSignedIn()) {
    const { profile } = userSession.loadUserData()
    showProfile(profile)
    saveProfileToCookie(profile)
  } else if (userSession.isSignInPending()) {
    userSession.handlePendingSignIn().then(userData => {
      window.location = window.location.origin
    })
  }

  const newrestButton = document.getElementById('new-restaurant');
  const tippyOpts = {animation: 'scale', arrow:true, theme:'light-border', delay:[200,200], trigger:'click'};
  if(userSession.isUserSignedIn()) //blockstack user is logged in
  {
    const newrestForm = document.getElementById('new-restaurant-form');
    tippy(newrestButton, Object.assign({content: newrestForm.innerHTML, interactive:true}, tippyOpts));
  }
  else //no blockstack user
{
    const nouser = document.getElementById('no-blockstack-user');
    tippy(newrestButton, Object.assign({content:nouser.innerHTML}, tippyOpts));
  }



if(userSession.isUserSignedIn()) //blockstack user is logged in
  {
  document.getElementById("signin-button").style.display="none"; 
  }
  else //no blockstack user
{
  document.getElementById("signout-button").style.display="none";
  }

});


</script>


</head>

<body>
    <!--============================= HEADER =============================-->
    <div class="nav-menu">
        <div class="bg transition">
            <div class="container-fluid fixed">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="{% url 'searchview' %}">Around The Block</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-menu"></span>
              </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                <li class="nav-item active">
                                  <a class="chromeplugin" href="https://chrome.google.com/webstore/detail/around-the-block/jjgonkapekplndgmkddnhlepmdokcadi"><span class="btn btn-outline-light top-btn">
				      <img class="plugin-icon" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Google_Chrome_icon_%28September_2014%29.svg"/>
				      Chrome Plugin</span></a>
                                </li>
                                   <li><a href="#" class="btn btn-outline-light top-btn" id="signin-button"><span class="ti-plus"></span>Log In</a></li>
<li><a href="#" class="btn btn-outline-light top-btn" id="signout-button"><span class="ti-minus"></span> Log Out</a></li>

<div id="heading-name">  </div>
<!-- <img id="avatar-image"> </img> -->
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDER -->
    <section class="slider d-flex align-items-center">
        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    <h1 class="h1main">Dining Reviews Under Your Control</h1>
                                    <h5 class="h5main">Did you know sites like Yelp can filter and hide your reviews, leading to an inaccurate review system?  Have true data ownership with Around The Block.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form method="POST" class="form-wrap mt-4">
{% csrf_token %}
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" name="keywords" placeholder="Search restaurant name" class="btn-group1" value= "{{ keywords }}">
                                        <!--<input type="text" placeholder="Address" class="btn-group2">-->
                                        <button type="submit" value="search" class="btn-form"><span class="icon-magnifier search-icon"></span>SEARCH<i class="pe-7s-angle-right"></i></button>
                                    </div>
                                </form>

<!-- insert list of matches -->
<div class="sorry">
  {% if keywords and not matches %}
  Sorry, no restaurants matching {{ keywords }} were found.
  <button id="new-restaurant" type="button">Click Here to Add a Restaurant</button>
  {% endif %}
  <div style="display:none">
    <div id="new-restaurant-form">
      <form method="post" action="{% url 'create_restaurant' %}">
	{% csrf_token %}
	<p>
	  Name:<input name="name" required type="text" placeholder="New Restaurant Name" />
	</p>
	<p>
	  Address:<input name="address" required type="text" placeholder="New Restaurant Address" />
	</p>
	<p>
	  <input type="submit" value="Save It!" />
	</p>
      </form>
    </div>
    <div id="no-blockstack-user">
      You must login as a blockstack user to add a restaurant.
    </div>
  </div>


 <div class="slider-link">
{% for match in matches %}
<div class="match">
  <a class="name"
     href="{% url 'restaurant' match.id %}">{{ match.name }}</a>
  <span class="reviewcount">{{ match.review_count }} review{{ match.review_count|pluralize }}</span>  
  <span class="address">{{ match.address }}</span>

</div>
{% endfor %}
 </div>
</div>



                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->
    <!--//END HEADER -->
   
    <!--============================= FEATURED PLACES =============================-->
    <section class="main-block light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Featured Places</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 featured-responsive">
                    <div class="featured-place-wrap">
                        <a href="restaurant/4">
                            <img src="{% static 'images/featured1.jpg' %}" class="img-fluid" alt="#">
                                 
                        <!--    <span class="featured-rating-orange">6.5</span> -->
                            <div class="featured-title-box">
                                <h6>Burger & Lobster</h6>
                                <p>Restaurant </p><!--  <span>• </span>
                                 <p>3 Reviews</p>  <span> • </span> 
                                <p><span>$$$</span>$$</p> -->
                                <ul>
                                    <li>
                                        <p>39 W 19th St, New York, NY 10011</p>
                                    </li>
                                  <!--  <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>

                                </ul>
                                <div class="bottom-icons">
                                    <div class="closed-now">CLOSED NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div> -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 featured-responsive">
                    <div class="featured-place-wrap">
                        <a href="restaurant/5">
                            <img src="{% static 'images/featured2.jpg' %}" class="img-fluid" alt="#">
                            <!-- <span class="featured-rating-green">9.5</span> -->
                            <div class="featured-title-box">
                                <h6>Keste</h6>
                                <p>Restaurant </p> <!-- <span>• </span>
                                <p>3 Reviews</p> <span> • </span>
                                <p><span>$$$</span>$$</p> -->
                                <ul>
                                    <li>
                                        <p>77 Fulton St, New York, NY 10038</p>
                                    </li>
                              <!--      <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>

                                </ul>
                                <div class="bottom-icons">
                                    <div class="closed-now">CLOSED NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div> -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 featured-responsive">
                    <div class="featured-place-wrap">
                        <a href="restaurant/6">
                            <img src="{% static 'images/featured3.jpg' %}" class="img-fluid" alt="#">
                            <!-- <span class="featured-rating">3.2</span> -->
                            <div class="featured-title-box">
                                <h6>Thai Villa</h6>
                                <p>Restaurant </p> <!-- <span>• </span>
                               <p>3 Reviews</p>  <span> • </span>
                                <p><span>$$$</span>$$</p> -->
                                <ul>
                                    <li>
                                        <p>5 E 19th St, New York, NY 10003</p>
                                    </li>
                              <!--      <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>

                                </ul>
                                <div class="bottom-icons">
                                    <div class="open-now">OPEN NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="featured-btn-wrap">
                        <a href="#" class="btn btn-danger">VIEW ALL</a>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!--//END FEATURED PLACES -->
  

  

    <!--============================= FOOTER =============================-->
    <footer class="main-block dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		      <p>Check us out on <a href="https://gitlab.com/CodeDarkin/aroundtheblock">GitLab</a>.</p>
                        <p>Copyright &copy; 2018 Listing. All rights reserved | This template is made with <!-- <i class="ti-heart" aria-hidden="true"></i> --> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
               
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//END FOOTER -->




    <!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="js/jquery-3.2.1.min.js"></script> -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <!-- <script src="js/popper.min.js"></script> -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        $(window).scroll(function() {
            // 100 = The point you would like to fade the nav in.

            if ($(window).scrollTop() > 100) {

                $('.fixed').addClass('is-sticky');

            } else {

                $('.fixed').removeClass('is-sticky');

            };
        });
    </script>
</body>

</html>

