<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Favicons -->
    <link rel="shortcut icon" href="#">
    <!-- Page Title -->
    <title>Around The Block</title>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <!-- <link rel="stylesheet" href="css/simple-line-icons.css"> -->
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
    <!-- Themify Icon -->
    <!-- <link rel="stylesheet" href="css/themify-icons.css"> -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Hover Effects -->
    <!-- <link rel="stylesheet" href="css/set1.css"> -->
    <link rel="stylesheet" href="{% static 'css/set1.css' %}">
    <!-- Swipper Slider -->
    <!-- <link rel="stylesheet" href="css/swiper.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <!-- Magnific Popup CSS -->
    <!-- <link rel="stylesheet" href="css/magnific-popup.css"> -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- Main CSS -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/stars.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<script
src="https://unpkg.com/blockstack@19.3.0-beta.1/dist/blockstack.js"
integrity="sha384-kscoAgc5pZqovHWSKndfyn3OeKHfRSh+Xc5wYc+E02BuyQV2zwEEHJ7p5drKnRrX"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script> 
window.addEventListener('DOMContentLoaded', (event) => {
 const appConfig = new blockstack.AppConfig(['store_write','publish_data', 'email'])
 const userSession = new blockstack.UserSession({ appConfig: appConfig })
 var userInfo

document.getElementById('signin-button').addEventListener('click', function(event) {
    event.preventDefault()
    userSession.redirectToSignIn()
 })
document.getElementById('signout-button').addEventListener('click', function(event) {
    event.preventDefault()
    userSession.signUserOut()
    window.location=window.location.origin
 })


  if (userSession.isUserSignedIn()) {
    const { profile } = userSession.loadUserData()
    userInfo = blockstack.decodeToken(blockstack.loadUserData().authResponseToken).payload
    saveProfileToCookie(profile)
  } else if (userSession.isSignInPending()) {
    userSession.handlePendingSignIn().then(userData => {
      window.location = window.location.origin
    })
  }


function addReviewToBlockstack(event)
{
    var stars = document.querySelector('#newreview input[name="stars"]').value;
    var description = document.querySelector('#newreview input[name="description"]').value;
    var newreview = {restaurant:'{{restaurant.name}}', address:'{{restaurant.address}}', restaurantid:{{restaurant.id}}, stars:stars, description:description}
    userSession.getFile('aroundtheblock.json',{decrypt:false}).then((file) => {
        var reviews = JSON.parse(file || '[]')
        reviews.push(newreview)
        userSession.putFile('aroundtheblock.json', JSON.stringify(reviews), {encrypt:false}).then(() => postNewReview())
       })
    return false;
}

function postNewReview(event)
{
  event.preventDefault()
  addReviewToBlockStack(event)
  var req = new XMLHttpRequest()
  var reviewform = document.querySelector('#newreview')
  var fd = new FormData(reviewform)
  req.addEventListener('load',
         function(event) 
    { 
    location.reload()  
    })
  req.open('POST', '{% url "createreview" restaurant.id %}')
  req.send(fd)
  return false;
}

function editReview(event)
{
  event.preventDefault()
  var req = new XMLHttpRequest()
  var reviewform = document.querySelector('#editreview')
  var fd = new FormData(reviewform)
  req.addEventListener('load',
         function(event) 
    { 
    location.reload()  
    })
  req.open('PUT', '')
  req.send(fd)
 
}

/*document.querySelectorAll('.deletereview').forEach((el) => el.addEventListener('click', deleteReview));

function deleteReview(event)
{
  //delete in blockstack, too!
  var restaurantId = event.currentTarget.parentElement.dataset.restaurantid;
  var reviewid = event.currentTarget.parentElement.dataset.reviewid;
event.preventDefault();
const body = new FormData();
  body.set('csrfmiddlewaretoken', Cookies.get('csrftoken'));
  fetch(`/restaurant/${restaurantId}/review/${reviewid}`, {method:'DELETE', credentials: 'same-origin', body: body}) //.then( (response) => location.reload());
 
}
*/


  const newrestButton = document.getElementById('new-review');
  const tippyOpts = {animation: 'scale', arrow:true, theme:'light-border', delay:[200,200], trigger:'click'};
  if(userSession.isUserSignedIn()) //blockstack user is logged in
  {
const newrestForm = document.getElementById('new-review-form');
function treatTemplateIds(tip)
{
   //tippy copies the template dom section, so the ids are duplicated, breaking the stars clicking
var form = document.getElementById('new-review-form');
  form.parentNode.removeChild(form);
}
    tippy(newrestButton, Object.assign({content: newrestForm.innerHTML, interactive:true, hideOnClick:false, onShown: treatTemplateIds}, tippyOpts));
  }
  else //no blockstack user
{
    const nouser = document.getElementById('no-blockstack-user');
    tippy(newrestButton, Object.assign({content:nouser.innerHTML}, tippyOpts));
  }



  function saveProfileToCookie(profile) {
    let userInfo = blockstack.decodeToken(blockstack.loadUserData().authResponseToken)
    let email = userInfo.payload.email
    let username = userInfo.payload.username
    Cookies.set('email',email)
    Cookies.set('username', username)
    
}

if(userSession.isUserSignedIn()) //blockstack user is logged in
  {
  document.getElementById("signin-button").style.display="none"; 
  }
  else //no blockstack user
{
  document.getElementById("signout-button").style.display="none";
  }



});



</script>



</head>

<body>
    <!--============================= HEADER =============================-->
    <div class="dark-bg sticky-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <span class="navbar-brand">Around The Block Reviews</span>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-menu"></span>
            </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                           <ul class="navbar-nav">
              <li><a href="{% url 'searchview' %}" class="btn btn-outline-light top-btn">Home</a></li>
              <li><button type="button" class="btn btn-outline-light top-btn" id="signin-button"><span class="ti-plus"></span> Log In</a></li>
<li><a href="#" class="btn btn-outline-light top-btn" id="signout-button"><span class="ti-minus"></span> Log Out</a></li>

<div id="heading-name">  </div>
<!-- <img id="avatar-image"> </img> -->
                           </ul>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--//END HEADER -->
    <!--============================= BOOKING =============================-->
    <div>
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <a href="images/reserve-slide2.jpg" class="grid image-link">
                        <img src="{% static 'images/reserve-slide2.jpg' %}" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="images/reserve-slide1.jpg" class="grid image-link">
                        <img src="{% static 'images/reserve-slide1.jpg' %}" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="images/reserve-slide3.jpg" class="grid image-link">
                        <img src="{% static 'images/reserve-slide3.jpg' %}" class="img-fluid" alt="#">
                    </a>
                </div>
             <!--   <div class="swiper-slide">
                    <a href="images/reserve-slide1.jpg" class="grid image-link">
                        <img src="images/reserve-slide1.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="images/reserve-slide2.jpg" class="grid image-link">
                        <img src="images/reserve-slide2.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="images/reserve-slide3.jpg" class="grid image-link">
                        <img src="images/reserve-slide3.jpg" class="img-fluid" alt="#">
                    </a>
                </div> -->
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
    <!--//END BOOKING -->
    <!--============================= RESERVE A SEAT =============================-->
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                      <h5> {{ restaurant.name }} </h5>
                      <p>  {{ restaurant.address }} </p>
                    <p class="reserve-description"></p>
                </div>
                <div class="col-md-6">
                    <div class="reserve-seat-block">
		      <div class="reserve-seat-block">
			{% with prefix="avg" enabled=False rating=restaurant.average_rating|floatformat:"0" %}
			{% include 'aroundtheblockapp/stars.html' %}
			{% endwith %}


<button type="button" id="new-review"> Write a Review </button>
<div style="display:none">
  <div id="new-review-form">
    <form id="newreview" method="POST" action="{% url 'createreview' restaurant.id %}">
      {% with prefix="new" enabled=True rating='3' %}
      {% include 'aroundtheblockapp/stars.html' %}
      {% endwith %}
      {% csrf_token %}
      <p>
	<input type="text" required name="description" placeholder="Comments..."/>
      </p>
      <input type="hidden" name="restaurantid" value="{{restaurant.id}}"/>
      <p>
	<input type="submit" class="addreview" value="Add Review!"/>
      </p>
    </form>
</div>
    <div id="no-blockstack-user">
      You must login as a blockstack user to add a restaurant.
    </div>
  </div>
                           

     <!--                   <div class="review-btn">
                            <form id="newreview" style="display:none">
  <input type="number" name="stars" value=""/>
  <input type="text" name="description" placeholder="Comments..."/>
  <input type="hidden" name="restaurantid" value="{{restaurant.id}}"/>
  <button type="button" id="new-review"> Write a Review </button>
                           </form>
                            <span>34 reviews</span>
                        </div> -->

                      <!--  <div class="reserve-btn">
                            <div class="featured-btn-wrap">
                                <a href="#" class="btn btn-danger">RESERVE A SEAT</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END RESERVE A SEAT -->
    <!--============================= BOOKING DETAILS =============================-->
    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-11 responsive-wrap">
                  
                    <div class="booking-checkbox_wrap mt-4">
                        <h5> My Reviews </h5>
                        <h5>{{ my_reviews|length }} Review{{ my_reviews|pluralize}}</h5>
                        <hr>
{% for review in my_reviews %}
                                
                        <div class="customer-review_wrap">

                            <div class="customer-img">
                           <!--     <img src="images/customer-img1.jpg" class="img-fluid" alt="#"> 
                             
                                
                                <span>35 Reviews</span> -->
                             
                            </div>
                            <div class="customer-content-wrap">
                                <!--  {% if forloop.first %}    
                               <p> {{ review.user.username }}</p>
                                   {% endif %} -->
                                <div class="customer-content" data-reviewid="{{ review.id }}" data-restaurantid="{{restaurant.id}}">
				  <!--<i class="editreview fa fa-pencil"></i>-->
				  <form method="POST" action="{% url 'editreview' restaurant_id=restaurant.id review_id=review.id %}">
				    {% csrf_token %}
				    <input type="hidden" name="restaurant_id" value="{{restaurant.id}}"/>
				    <input type="hidden" name="review_id" value="{{review.id}}"/>
				    <input type="hidden" name="method" value="delete"/>
				    <button type="submit"><i class="deletereview fa fa-trash"></i></button>
				    </form>

                                    <div class="customer-review">
                                      <!--   <h6>Best noodles in the Newyork city</h6> -->
				     <div class="customer-review">
                                       <!--   <h6>Best noodles in the Newyork city</h6> -->
                                       {% with prefix=review.id enabled=False rating=review.stars|floatformat:"0" %}
                                       {% include 'aroundtheblockapp/stars.html' %}
                                       {% endwith %}
                                        <p>{{ review.timestamp }}</p>
                                    </div>
                                   <!-- <div class="customer-rating">{{ review.stars }}</div> -->
                                </div>
                                <p class="customer-text">{{ review.description }} 
                                </p>
              
                       
                            <!--    <span>28 people marked this review as helpful</span>
                                <a href="#"><span class="icon-like"></span>Helpful</a> -->
                            </div>
                        </div>
                                              <hr>   
{% endfor %}     
                    </div>
                </div>             
            </div>
        </div>


<div class="container">
            <div class="row">
                <div class="col-md-11 responsive-wrap">           
                    <div class="booking-checkbox_wrap mt-4">
                        <h5>Other Reviews </h5>
                        <h5>{{ other_reviews|length}} Review{{ other_reviews|pluralize}}</h5>
                        <hr>
{% for review in other_reviews %}  
                        <div class="customer-review_wrap">

                                  
                            <div class="customer-img">
                           <!--     <img src="images/customer-img1.jpg" class="img-fluid" alt="#"> -->
                
                             
                            </div>
                            <div class="customer-content-wrap">
                                     
                               <p> {{ review.user.username }}</p>
                                
                            <!--    <span>35 Reviews</span>    -->   
                                  
                                <div class="customer-content">
                                    <div class="customer-review">
                                     <!--   <h6>Best noodles in the Newyork city</h6> --> 
                                     {% with prefix=review.id enabled=False rating=review.stars|floatformat:"0" %}
                                     {% include 'aroundtheblockapp/stars.html' %}
                                     {% endwith %}

                                        <p>{{ review.timestamp }}</p>
                                    </div>
                             <!--       <div class="customer-rating customer-rating-red">{{ review.stars }}</div> -->
                                </div>
                                <p class="customer-text">{{ review.description }} 
                                </p>
                              
                       
                        <!--        <span>28 people marked this review as helpful</span>

                                <a href="#"><span class="icon-like"></span>Helpful</a> -->
                            </div>

                        </div>

 
                        <hr>             
{% endfor %}
                    </div>
                </div>             
            </div>
        </div>
    </section>
    <!--//END BOOKING DETAILS -->
    <!--============================= FOOTER =============================-->
    <footer class="main-block dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright &copy; 2018 Listing. All rights reserved | This template is made with <!-- <i class="ti-heart" aria-hidden="true"></i> --> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      <!--  <ul>
                            <li><a href="#"><span class="ti-facebook"></span></a></li>
                            <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                            <li><a href="#"><span class="ti-instagram"></span></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//END FOOTER -->




    <!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="js/jquery-3.2.1.min.js"></script> -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <!-- <script src="js/popper.min.js"></script> -->
    <script src="{% static 'js/popper.min.js' %}"></script>
   <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Magnific popup JS -->
    <!-- <script src="js/jquery.magnific-popup.js"></script> -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <!-- Swipper Slider JS -->
    <!-- <script src="js/swiper.min.js"></script> -->
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
</body>

</html>
