<div class="rating" data-rating="{{rating}}">
    {% for i in '54321'|make_list %}
    <input type="radio" id="stars_{{prefix}}_{{i}}" name="{{prefix}}_stars" value="{{i}}"
	   {% if not enabled %} onclick="return false;" {% endif %}
	   {% if rating == i %} checked="checked" {% endif %} />
    <label for="stars_{{prefix}}_{{i}}">
      {{i}} stars
    </label>
    {% endfor %}
</div>

