.aroundtheblock-reviews {
    background-color: rgb(224, 178, 178);
    font-size: 14pt;
    margin-left: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    border-radius: 5px;
    padding: 5pt;
}

.aroundtheblock-img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10pt;
}

.aroundtheblock-user {
    font-size: 12pt;
}

.aroundtheblock-review {
    min-height: 100px;
    margin: 5pt;
    padding: 5pt;
    border-radius: 5px;
    background-color: rgb(241, 217, 217);
}

aroundtheblock-stars {
    color: rgb(144, 13, 13);
    font-weight: bold;
}
